.sectorsContainer {
    display: flex;
    flex-direction: column;
    padding-left: var(--large-spacing);
    padding-right: var(--large-spacing);
}

@media (max-width: 792px) {
    .sectorsContainer {
        padding: 30px var(--small-spacing) 0 var(--small-spacing);
    }
}
