.item {
    display: flex;
    justify-content: center;
}

.itemIcon {
    height: 100%;
    display: flex;
    align-items: center;
}

.itemCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--gras-white-title);
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemContent {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.itemTitle {
    color: var(--gras-white-title);
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 15px;
    text-align: left;
}

.itemDescription {
    color: var(--gras-white-title);
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    width: 200px;
}
