body {
    margin: 0 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding-top: 65px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.section-title {
    color: var(--gras-background-blue);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 var(--medium-spacing) 0;
}

@media (max-width: 792px) {
    .section-title {
        font-size: 2rem;
    }
}

:root {
    /* Colors */
    --gras-titles-blue: #38678D;
    --gras-purple: #2C255B;
    --gras-gray: #838385;
    --gras-background-blue: #F5F9FF;
    --gras-beige: #FFF8E7;
    --gras-white-title: #EAEAEA;
    --gras-background-details-blue: #E6F0FF;

    /* Spacing */
    --large-spacing: 85px;
    --medium-spacing: 50px;
    --small-spacing: 25px;

    /* Font Sizes */
    --section-title: 30px;
    --section-subtitle: 20px;
    --section-text: 16px;

    /* Breakpoints */
    --breakpoint-mobile: 792px;

    /* Radius */
    --border-radius: 8px;
}
