body {
    margin: 0 !important;
}

main {
    margin-top: 65px;
}

.section-title {
    color: var(--gras-background-blue);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 var(--medium-spacing) 0;
}

:root {
    --gras-purple: #2C255B;
    --gras-gray: #838385;
    --gras-background-blue: #38678D;
    --gras-beige: #FFF8E7;
    --gras-white-title: #EAEAEA;

    --large-spacing: 85px;
    --medium-spacing: 50px;
    --small-spacing: 25px;
}
