.approachSection {
    background-color: var(--gras-background-blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 var(--large-spacing);
}

.headingTitle {
    color: var(--gras-white-title);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin: var(--medium-spacing) 0 var(--medium-spacing) 0;
}

.approachGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    justify-content: center;
    padding-bottom: var(--medium-spacing);
    width: 100%;
}

@media (max-width: 792px) {
    .approachGroup {
        grid-template-columns: 1fr;
    }

    .headingTitle {
        font-size: 2rem;
    }
}
