.container {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: var(--medium-spacing);
    padding-top: 25px;
}

.smallTitle {
    font-size: 20px;
    margin: 35px 0 0 0;
    font-weight: 600;
    color: var(--gras-purple)
}

.email {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 0 0;
}
