#footer {
    background-color: white;
    height: 80px;
    border-top: 1px solid #C9C9C9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--large-spacing);

    .footerSocials {
        display: flex;
        flex-direction: row;

        .links {
            margin-right: 15px;
        }
    }

    .footerText {
        font-size: 12px;
    }
}
