.news {
    border-radius: 15px;
    box-shadow: 0 0 32px rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
}

.newsImg {
    border-radius: 35px;
    align-self: center;
    margin-top: 10px;
    width: 95%;
    aspect-ratio: 16/10;
    height: auto;
    object-fit: cover;
}

.newsTitle {
    font-size: 16px;
    font-weight: 600;
    margin: 15px 20px;
}

.newsDescription {
    font-size: 14px;
    opacity: 0.7;
    margin: 0 20px 15px 20px;;

    /* Add ellipsis when text has more than 2 lines */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.newsLink {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.news:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}
