.sectors-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 65px;

    h1 {
        color: var(--gras-background-blue);
        font-size: 35px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
    }

    .sector-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;

        .circle-icon {
            margin-right: 10px;
        }
    }

    .public-sector {
        margin-bottom: 50px;
        height: 350px;
        margin-left: 115px;
        margin-right: 115px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .public-left-side {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-right: 25px;
            justify-content: center;
        }

        .public-right-side {
            width: 50%;
            margin-left: 25px;
            display: flex;
            justify-content: center;

            .public-img {
                width: 350px;
                height: 100%;
                border-radius: 20px;
                background-color: cadetblue;
            }
        }
    }

    .private-sector {
        margin-bottom: 50px;
        height: 350px;
        margin-left: 115px;
        margin-right: 115px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .private-left-side {
            width: 50%;
            margin-right: 25px;
            display: flex;
            justify-content: center;

            .private-img {
                width: 350px;
                height: 100%;
                border-radius: 20px;
                background-color: cadetblue;
            }
        }

        .private-right-side {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-left: 25px;
            justify-content: center;
        }
    }

    h3 {
        color: var(--gras-background-blue);
        font-size: 25px;
    }
}
