.highlightedNews {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    position: relative;
}

.highlightedNewsImage {
    border-radius: 30px;
    width: 100%;
    aspect-ratio: 16/10;
    height: 100%;
    object-fit: cover;
}

.highlightedNewsContent {
    position: absolute;
    bottom: 0;
    left: 0;

    background-color: white;
    opacity: 0.75;
    border-radius: 12px;
    margin: 20px 20px;
}

.highlightedNewsTitle {
    font-size: 24px;
    font-weight: 600;
    margin: 30px 20px 40px 20px;
}

.highlightedNewsDescription {
    font-size: 14px;
    opacity: 0.7;
    margin: 0 20px 15px 20px;

    /* Add ellipsis when text has more than 2 lines */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.highlightedNewsLink {
    color: black;
    text-decoration: none;
}

.highlightedNews:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

/* Mobile Device */

@media (max-width: 792px) {
    .highlightedNewsImage {
        aspect-ratio: 1;
        border-radius: 20px;
    }

    .highlightedNewsTitle {
        font-size: 20px;
        margin: 10px 10px 20px 10px;
    }

    .highlightedNewsContent {
        margin: 10px 5px;
    }

    .highlightedNewsDescription {
        margin: 0 10px 10px 10px;
    }
}
