.company-cover-section {
    background-color: var(--gras-background-blue);
    width: 100%;
    height: 450px;
    margin-top: 65px;
    display: flex;
    flex-direction: row;

    .gras-img {
        width: 60%;
        height: 100%;
        background: url('../../../../public/assets/gras-img.png') no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .text-inside-img {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
        margin: 0 50px;

        .upper-text {
            padding-top: 30px;
            flex: 1;
            font-size: 28px;
            display: flex;
            align-self: flex-start;
            color: var(--gras-white-title);
            opacity: 0.2;
        }

        .middle-text {
            flex: 1;
            font-size: 250px;
            display: flex;
            align-self: center;
            align-items: center;
            color: var(--gras-white-title);
            opacity: 0.2;
        }

        .bottom-text {
            padding-bottom: 30px;
            flex: 1;
            font-size: 28px;
            display: flex;
            align-self: flex-end;
            align-items: flex-end;
            color: var(--gras-white-title);
            opacity: 0.2;
        }
    }
}

@media (max-width: 792px) {
    .company-cover-section {
        flex-direction: column;
        height: 400px;
        width: 100%;
        margin-top: 0;
        padding-top: 65px;
        background-color: var(--gras-background-blue);

        .gras-img {
            width: 100%;
            height: 100%;
            background: url('../../../../public/assets/gras-img.png') no-repeat;
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
        }

        .text-inside-img {
            display: none;
        }
    }
}
