.search-input {
    display: flex;
    margin-right: 110px;
    position: relative;
    width: 20%;
}

.search-icon {
    position: absolute;
    top: 12px;
    right: 15px;
}

input {
    height: 35px;
    border: 2px solid var(--gras-background-blue);
    border-radius: 5px;
    color: var(--gras-background-blue);
    text-align: left;
    padding: 0 10px;
    display: flex;
    width: 100%;
}
