.partnerCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 32px rgb(0 0 0 / 10%);
    border-radius: var(--border-radius);
}

.partnerImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.partnerInfo {
    display: flex;
    flex-direction: column;
    padding: var(--section-text);
}

.partnerName {
    font-size: var(--section-subtitle);
    font-weight: 700;
}

.partnerRole {
    font-size: 12px;
    color: var(--gras-titles-blue);
    padding: 8px 0 16px 0;
}

.partnerDescription {
    font-size: var(--section-text);
    color: var(--gras-subtitle-navy-blue);
    line-height: 1.5;
    margin-bottom: 16px;
}
