.sectorContainer {
    margin-bottom: 50px;
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    gap: 150px;

    .sectorContent {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: 25px;
        justify-content: center;
    }

    .sectorImage {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        .publicImg {
            width: 350px;
            height: 100%;
            border-radius: 20px;
            background-color: cadetblue;
        }
    }
}

.headingTitle {
    color: var(--gras-background-blue);
    font-size: 25px;

    /* animation */
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.sectorItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    
    /* animation */
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    transition-delay: .1s;
}

.align-left {
    flex-direction: row-reverse;
}

.slideIn > .sectorContent > .headingTitle {
    /* animation */
    opacity: 1;
    transform: translateX(0);
}

.slideIn > .sectorContent > .sectorItem {
    /* animation */
    opacity: 1;
    transform: translateX(0);
}

@media (max-width: 792px) {
    .sectorContainer {
        flex-direction: column-reverse;
        gap: 0;
        justify-content: center;

        .sectorContent {
            width: 100%;
        }
    
        .sectorImage {
            width: 100%;
            justify-content: center;
        }
    }
}
