.container {
    display: flex;
    position: relative;
    width: 70%;
}

.imageContainer {
    background-color: black;
}

.bgImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    aspect-ratio: 2 / 1;
}

.content {
    position: absolute;
    margin-top: 120px;
    margin-left: var(--large-spacing);
}

.headerContent {
    display: flex;
    align-items: center;
}

.stylingBar {
    height: 75px;
    width: 5px;
    background-color: var(--gras-beige);
}

.header {
    color: var(--gras-beige);
    font-size: 50px;
    margin: 0 0 0 20px;
}

.description {
    color: white;
    font-size: 18px;
    margin-top: 30px;
    max-width: 50vw;
}

.buttonContainer {
    margin-top: var(--large-spacing);
}

@media (max-width: 792px) {
    .container {
        width: 100%;
    }

    .content {
        margin-top: 20px;
        margin-left: 25px;
    }

    .header {
        font-size: 32px;
    }

    .stylingBar {
        height: 50px;
    }

    .description {
        font-size: 16px;
        max-width: 75vw;
    }

    .buttonContainer {
        display: none;
    }
}
