#about-section-container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;

    .heading-title {
        color: var(--gras-background-blue);
        font-size: 35px;
        font-weight: 600;
    }

    .description {
        color: #000;
        font-size: 16px;
        width: 60%;

        background: url('../../../../public/assets/grasLogoBG.png') center no-repeat;
        background-size: contain;
    }
}
