#aboutSectionContainer {
    margin: var(--medium-spacing) var(--large-spacing);
    display: flex;
    gap: 150px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.alignRight {
    flex-direction: row-reverse;
}

.bigTitle {
    color: var(--gras-background-blue);
    font-size: 35px;
    font-weight: 400;
}

.smallTitle {
    color: var(--gras-background-blue);
    font-size: 20px;
    font-weight: 400;
    margin-top: var(--medium-spacing);
}

.workList {
    list-style-type: none;
}

.listItem {
    margin-bottom: 15px;
}

.faIcon {
    margin-right: 10px;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: var(--gras-background-blue);
}

.aboutImage {
    width: 90%;
    height: auto;
    border-radius: 12px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.aboutImageMobile {
    display: none;
}

@media (max-width: 792px) {
    #aboutSectionContainer {
        margin: 35px 25px;
        gap: 25px;
        flex-direction: column;
    }

    .aboutContent {
        width: 100%;
    }

    .aboutImage {
        display: none;
    }

    .aboutImageMobile {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 12px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        margin-top: 25px;
    }

    .bigTitle {
        font-size: 2rem;
    }
}
