#aboutSectionContainer {
    margin: var(--medium-spacing) var(--large-spacing);
    display: flex;
    gap: 200px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
}

.alignRight {
    flex-direction: row-reverse;
}

.bigTitle {
    color: var(--gras-background-blue);
    font-size: 35px;
    font-weight: 400;
}

.smallTitle {
    color: var(--gras-background-blue);
    font-size: 20px;
    font-weight: 400;
    margin-top: var(--medium-spacing);
}

.workList {
    list-style-type: none;
}

.listItem {
    margin-bottom: 15px;
}

.a {
    text-decoration: none;
    color: black;
}

.a:hover {
    color: var(--gras-background-blue);
}

.aboutImageContainer {
    width: 50%;
}

.aboutImage {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
