.section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: var(--medium-spacing) var(--large-spacing);
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--medium-spacing);
}

@media (max-width: 792px) {
    .section {
        flex-direction: column;
        padding-bottom: 30px;
    }
}