.servicesContainer {
    display: flex;
    flex-direction: column;
    padding: 50px var(--large-spacing) 30px var(--large-spacing);

    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .itemCircle {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: var(--gras-background-blue);
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 20px;
            }

            .itemText {
                color: var(--gras-background-blue);
                font-size: 12px;
                font-weight: 500;
                text-align: center;
                height: 35px;
                width: 150px;
            }
        }
    }

    .servicesIcon {
        width: 50%;
    }

    .swiper-button-prev {
        color: var(--gras-background-blue);
    }

    .swiper-button-next {
        color: var(--gras-background-blue);
    }

    .swiper-pagination-bullet {
        background-color: var(--gras-background-blue);
    }
}

@media (max-width: 792px) {
    .servicesContainer {
        padding: 30px var(--small-spacing) 30px var(--small-spacing);

        .swiper-slide {
            .item {
                margin-bottom: 30px;

                .itemText {
                    width: 200px;
                }
            }
        }
    }
}
