#partners-section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px 0;

    .partners-section-header {
        color: var(--gras-background-blue);
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 34px;
    }

    .partners-content {
        width: 60%;
        border-radius: 70px;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .item {
            margin: 30px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            .dulce-gomes-img {
                background-image: url('../../../../public/assets/dulce.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            .antonio-moura-img {
                background-image: url('../../../../public/assets/antonio.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            .marianela-rego-img {
                background-image: url('../../../../public/assets/marianela.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            .partner-name {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }
}

@media (max-width: 792px) {
    #partners-section {
        padding-top: 10px;

        .partners-section-header {
            color: var(--gras-background-blue);
            font-size: 30px;
            font-weight: 600;
            margin-top: 60px;
            margin-bottom: 34px;
        }

        .partners-content {
            width: 95%;
            display: flex;
            flex-direction: row;
            border-radius: 50px;

            .item {
                flex-shrink: 0;
                margin: 30px 10px;

                .dulce-gomes-img {
                    width: 100px;
                    height: 100px;
                }

                .antonio-moura-img {
                    width: 100px;
                    height: 100px;
                }

                .marianela-rego-img {
                    width: 100px;
                    height: 100px;
                }

                .partner-name {
                    font-size: 12px;
                }
            }
        }
    }
}
