#partnersSection {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--medium-spacing) var(--large-spacing);

    .partnersContent {
        gap: 100px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 792px) {
    #partnersSection {
        padding: 30px var(--small-spacing);

        .partnersContent {
            flex-direction: column;
        }
    }
}
