.filtersSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}

/* Mobile device */

@media (max-width: 792px) {
    .filtersSection {
        flex-direction: column-reverse;
        gap: 20px;
    }
}
